body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1, h2, h3, p {
    color: #333;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 24px;
}

nav menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav menu li {
    display: inline;
    margin-right: 20px;
}

nav menu li a {
    text-decoration: none;
    color: white;
}