body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1, h2, h3, p {
    color: #333;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding-bottom: 100px;
}

h1 {
    font-size: 24px;
}

nav menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav menu li {
    display: inline;
    margin-right: 20px;
}

nav menu li a {
    text-decoration: none;
    color: white;
}

.points {
    text-align: right;
    margin-left: 10px;
    flex-shrink: 0;
}

.players li {
    background-color: #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    counter-increment: list-counter;
}

.name {
    flex-grow: 1;
    text-align: left;
}

.players li::before {
    content: counter(list-counter) ". "; /* Display the counter */
    margin-right: 10px; /* Adjust spacing as needed */
  }

footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
}